<form [formGroup]="accountForm">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-content>
          <div class="row">
            <mat-form-field class="col-sm">
              <input matInput placeholder="Business Name" value="" formControlName="name">
              <mat-error *ngIf="accountForm.controls['name'].errors?.required">
                Business Name is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row" formGroupName="address">
            <mat-form-field class="col-sm-6">
              <input matInput placeholder="Address Line 1" value="" formControlName="addressLine1">
              <mat-error *ngIf="accountForm.controls['address'].controls['addressLine1'].errors?.required">
                Address Line 1 is required
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col-sm-6">
              <input matInput placeholder="Address Line 2" value="" formControlName="addressLine2">
            </mat-form-field>

            <mat-form-field class="col-sm-4">
              <input matInput placeholder="City" value="" formControlName="city">
              <mat-error *ngIf="accountForm.controls['address'].controls['city'].errors?.required">
                City is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-sm-4">
              <input matInput placeholder="Postal Code" value="" formControlName="postalCode">
              <mat-error *ngIf="accountForm.controls['address'].controls['postalCode'].errors?.required">
                Postal Code is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-sm-4">
              <mat-select placeholder="State" formControlName="state">
                <mat-option *ngFor="let state of stateList" [value]="state.value">
                  {{state.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="accountForm.controls['address'].controls['state'].errors?.required">
                State is required
              </mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <div class="row card-title">
            <div class="col">
              Additional Account Information
            </div>
          </div>
          <div class="row">
            <mat-form-field class="col-sm-6">
              <input matInput placeholder="Email" value="" formControlName="email">
              <mat-error *ngIf="accountForm.controls['email'].errors">
                Email is invalid
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-sm-6">
              <input matInput placeholder="Phone" value="" formControlName="phone">
            </mat-form-field>

            <mat-form-field class="col-sm-4">
              <input matInput placeholder="FEIN" value="" formControlName="fein">
            </mat-form-field>

            <mat-form-field class="col-sm-4">
              <mat-select placeholder="Organization Type" formControlName="organizationType">
                <mat-option *ngFor="let org of organizationList" [value]="org.value">
                  {{org.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="accountForm.controls['organizationType'].errors?.required">
                Organization Type is required
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col-sm-4">
              <mat-select placeholder="Industry" formControlName="industryCode">
                <mat-option *ngFor="let ind of industryList" [value]="ind.value">
                  {{ind.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="accountForm.controls['industryCode'].errors?.required">
                Industry Code is required
              </mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-action-row>
        <button mat-button color="accent" (click)="validateAndNext()">Next</button>
      </mat-action-row>
    </div>
  </div>
</form>

<button mat-button color="danger" (click)="dispatchCurrentStatus()">Dispatch Dummy Action</button>