<app-toolbar></app-toolbar>

<div id="wrapper" class="toggled">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li>
        <a href="#">Business Information</a>
      </li>
      <li>
        <a href="#">Eligibility</a>
      </li>
      <li>
        <a href="#">Locations</a>
      </li>
      <li>
        <a href="#">Buildings</a>
      </li>
      <li>
        <a href="#">Quote</a>
      </li>
      <li>
        <a href="#">Payment</a>
      </li>
      
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>