<div class="width-80">
    <mat-expansion-panel [expanded]="currentStep == 'BUSINESSINFO'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Business Information
        </mat-panel-title>
        <mat-panel-description>
          Enter Business Name and Address
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-business-info></app-business-info>
    </mat-expansion-panel>


    <mat-expansion-panel [expanded]="step === 'AdditionalBusinessDetails' ">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Additional Business Information
        </mat-panel-title>
        <mat-panel-description>
          Enter FEIN, Organization Type, Email, Phone and Industry
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="createAccountAndSubmission()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

</div>
